{% extends "app/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}



{% block main-content %}
<div class="container mt-3">
    <br>
    <div class="alert alert-info text-center" role="alert">
      <h2>About Us</h2>
    </div>    
    <br>
    <div class="row container">
        <p  class="fs-4 text-center">At CasMmerce, we believe in more than just facilitating transactions; we're here to create an exceptional online shopping experience that goes beyond the ordinary. Our journey began with a passion for connecting people with the products they love, and today, we stand as a dynamic e-commerce platform committed to making your shopping journey seamless, enjoyable, and memorable.</p>
    </div>

    <div class="alert alert-info text-center" role="alert">
      <h2>Our Story</h2>
    </div>
    
    <div class="row container">
      <p  class="fs-4 text-center">Founded in 2020, XYZ CasMmerce was born out of a vision to revolutionize the way people shop online. We started with a simple idea: to provide a diverse and curated selection of high-quality products while prioritizing customer satisfaction. Over the years, we've grown, adapted, and learned, shaping our platform into what it is today—a one-stop destination for all your shopping needs.</p>
  </div>

    <br><br>
    <div class="alert alert-info text-center" role="alert">
      <h2>About Us</h2>
    </div>    
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Our mission is to empower individuals and businesses by offering a comprehensive and user-friendly e-commerce experience. We're dedicated to providing not only a wide range of products but also exceptional service, transparency, and innovation. XYZ E-Commerce is more than just a marketplace; it's a community where every purchase contributes to a positive and fulfilling online shopping journey.
        </p>
    </div>
</div>
<br>
{% endblock main-content %}